.App {
  text-align: center;
}

.App-logo {
  width: 60vw;
  max-width: 611px;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #FFF0CA;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #AC1E3D;
}

.App-link {
  color: #61dafb;
}

.App-body {
  text-align: center;
}

.No {
  font-size: 6rem;
  margin: 0;
}
